
body{
    margin: 0;
    padding: 0;
}

.nav{
    background-color:#292929;
    display: flex;
}

.nav img{
    margin-left: 10px;
}

.headerTitle{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 30px;;
}

.whiteTitle{
    color: white;
}

.grayTitle{
    color:#868686;
}
.blueTitle{
    color: #5BD3FB;
}

