
body{
    margin: 0;
    padding: 0;
}

.nav{
    background-color:#292929;
}

.headerTitle{
    list-style: none;
    display: flex;
}

.headerTitle h3{
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
}

.logo{
    margin: 10px;
}